* {
    background-color: rgb(119, 88, 149);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 5rem;
}

div {
    display: flex;
    justify-content: center;
    size: 6rem;

}

#button {
    size: 3rem;
    padding: 1rem;
    background-color: rgb(113, 116, 205);
    color: rgb(255, 255, 255);
}